@CHARSET "UTF-8";

body {
	background-color: #111;
}

.vidCont {
	/*padding: 10px;*/
	margin: 10px auto;
	text-align: center;
	width: 480px;
}

.vidCont h1 {
	color: #fff;
}

.vidCont p {
	font-size: 10px;
}